* {
    margin: 0;
}

#logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#main-header {
    height: 100px;
    background-image: url(./img/pattern.png);
    background-color: rgb(86, 86, 245);
    background-size: 20%;
    line-height: 100px;
}